<h1>ブログ一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td style="background:lightpink;text-align:center"><%= blog.title %></td>
    <td style="background:lightgrey;text-align:center"><%= blog.content %></td>
    <td style="padding:10px;text-align:center"><%= link_to '投稿確認', blog_path(blog.id) %></td>
    <td><%= link_to "ブログ編集", edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to 'ブログを削除', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }%></td>
  </tr>
<% end %>
</table>
<p><%= link_to '新しくブログを投稿する', new_blog_path %></p>